<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflowapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
       <!-- nav bar will go here -->
    </div>
    <%= yield %>
  </body>
</html>
